//Colors

// $color-primary-light: #c1cffc;
$color-primary: #FF6400;
// $color-primary-dark: #13133f;

// $color-blue-light: #6dd5ed;
// $color-blue-dark: #2193b0;

// $color-green-light: #86d9ac;
// $color-green-dark: #2e818c;

// $color-brown-light: #e6cd89;
// $color-brown-dark: #bb6b40;
// $color-brown: #3f1d0b;

// $color-text-light: #f5efef;
$color-text: #575757;
// $color-text-dark: #373943;

// $color-black: #000000;
// $color-white: #ffffff;

// $color-red: #FF4136;

// $color-green:#2ECC40;

// //Grid

// $grid-width: 114rem;
// $gutter-vertical: 7rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 5rem;

//Font size
$default-font-size: 1.6rem;

// // Shadow
// $default-shadow: 1rem 1rem 4rem rgba($color-black, 0.4);