footer {
  padding: 8rem 0;
  background-color: $color-black;
  color: $color-white;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3.6rem;
  font-family: "Nunito", sans-serif;
  color: $color-text-light;

  @include design(lg){
    flex-direction: column;
    gap: 8rem;
  }

  h6 {
    font-family: "Nunito", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: $color-white;
  }

  &__logo-block {
    max-width: 30rem;
  }

  .logo {
    margin-bottom: 1.4rem;
  }

  &__nav {
    ul li {
      a {
        color: $color-text-light;
      }
      a:hover,
      :active {
        color: $color-primary;
      }
    }
  }

  &__hr {
    background-color: #2c2c2c;
    height: 2px;
    width: 100%;
  }

  &__copyright-block {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:$color-text-light;
    font-size: 1.2rem;

    .developer a{
        color:$color-primary;
    }
  }
}
