.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;

    &__list{
        min-width: 70rem;
        display:flex;
        justify-content: space-between;
        list-style-type: none;

        &-item{
            font-weight: 600;
            // font-size: 1.8rem;
            &:hover{
                color:$color-primary;
                cursor: pointer;
            }
        }
    }
}