//Colors

$color-primary-light: #FF7849;
$color-primary: #FF6400;

$color-bg-light: #F8F8F8;

$color-text-light:#C7C7C7;
$color-text: #575757;
$color-text-dark: #192239;

$color-black:#151212;
$color-black-1: #282F38;

$color-brown: #452e23;

$color-white: #ffffff;

$color-grey-light:#F2F2F2;


// //Grid

// $grid-width: 114rem;
// $gutter-vertical: 7rem;
// $gutter-vertical-small: 6rem;
// $gutter-horizontal: 5rem;

//Font size
$default-font-size: 1.6rem;

// // Shadow
// $default-shadow: 1rem 1rem 4rem rgba($color-black, 0.4);

// Container
$container-max-w-default: 134rem;
$container-max-w-3xl: 118rem;
$container-max-w-2xl: 90rem;
$container-max-w-xl: 80rem;
$container-max-w-lg: 70rem;
$container-max-w-md: 60rem;
$container-max-w-sm: 50rem;
$container-max-w-xs: 35rem;


