@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 62.5% of default 16px = 10px to make 1rem calculations simple*/
  font-size: 62.5%;
 
//   @include design(tab-horizontal){
//     font-size: 56.25%;
//   }
//   @include design(tab-portrait){
//     font-size: 50%;
//   }

//    @include design(big-desktop){
//     font-size: 75%;
//   }
  
  
}

body {
  box-sizing: border-box;
//   @include design(tab-portrait){
//     padding: 0;
//   }
}