body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
  color: $color-text;

//   cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat1019.cur), auto !important;
}
