.section-hero {
  position: relative;
  padding-top: 7.8rem;
  padding-bottom: 6.8rem;

  &__hero-image-wrapper {
    z-index: -10;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100rem;
    max-height: 63rem;
  }

  &__hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__heading-wrapper {
    max-width: 67rem;
    margin-bottom: 3.8rem;
  }

  &__heading {
    color: $color-black;
    font-family: PT Serif;
    line-height: 6.9rem;
    letter-spacing: 0.5px;
  }

  &__video-thumbnail-wrapper{
    position: relative;
    max-width: 65rem;
    height: 34rem;
    margin-top: 3.8rem;
    padding: 2.2rem 4.4rem;
    background-color: $color-white;
    box-shadow: 0px 15px 50px 0px #A2A9C040;
    border-radius: 5px;
  }

  &__video-thumbnail{
    width: 100%;
    height: 100%;
  }
}
